<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <Title></Title>
    <h2><div style="text-align: center;">Course dashboard</div></h2>

    <button type="button" th:action="">Register new course</button>
    <button type="button" th:action="">View all courses</button>

</head>
<body>

</body>
</html>

<!--<form action="#" th:action="" th:method="delete" >-->
<!--    <input type="hidden" name="_method" value="delete" />-->
<!--    <button type="submit" id="submitButton"> </button>-->
<!--</form>-->