<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <a href="/indexPage" style="width: 10%"><img th:src="@{images/spartaLogo.png}" class="img-fluid navbar-brand"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler" style="margin-left: 3%">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/indexPage">Home</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="#" onclick="history.go(-1)">Back</a>-->
                <!--                </li>-->
                <li class="dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">Trainers
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a  th:href="@{/trainer/getTrainers}" method="get">View</a></li>
                    <li><a  href="/registerTrainerPage">Register</a></li>
                </ul>
            </li>
                <li class="dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">Trainees
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a  th:href="@{/trainee/getTrainees}">View</a></li>
                        <li><a  href="/registerTraineePage">Register</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">Courses
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a  th:href="@{/course/getCourses}">View</a></li>
                        <li><a  href="/registerCoursePage">Register</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">Modules
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a  th:href="@{/module/getModules}">View</a></li>
                        <li><a  href="/registerModulePage">Register</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">Classrooms
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a  th:href="@{/classroom/getClassrooms}">View</a></li>
                        <li><a  href="/registerClassroomPage">Register</a></li>
                    </ul>
                </li>


            </ul>
        </div>
    </nav>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</header>