.navbar-custom {
    background-color: mediumvioletred; !important;
}
body {
    padding-top: 7%;
    padding-buttom: 5%;
    color: white;
}

.backgroundImage{
    background-image: linear-gradient(rgba(1, 1, 1, 0.75), rgba(1, 1, 1, 0.75)), url("../images/brick-background-1.jpg");
    background-size: 100%;
}
.dropdown-menu{
    position: fixed;
    width: 100%;
    background-color: mediumvioletred;
    border: none;
}
.btn-custom{
     background-color: mediumvioletred;
     color: white;
 }
.btn{
    background-color: mediumvioletred;
    color: white;
}
.thead-custom{
    background-color: #84125D;
    color: white;
    height: 140px;
    white-space: nowrap;
}


.tbody-custom{
    background-color: white;
    color: black;
}
a{
    color: white;

}
a:hover{
    color: rgba(255, 255, 255, 0.52);
}

footer{
    position: absolute;
    width: 100%;
    color: white;
    bottom:0;
}

.container{
    padding-bottom: 100px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}
.twoButtons{
    display: inline;
}

.fitwidth{
     width: 1px;
    white-space: nowrap; !important;
}

.rotate {
    height: 140px;
    white-space: nowrap;
}
.rotate > output{
    transform:
            translate(0px,51px)
            /*translate(25px,51px)*/
            rotate(270deg);
    width: 30px;
}
