<!DOCTYPE html>
<html lang="en"xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"/>

</head>
<body>
<div th:replace="header::header"></div>


<!--<div layout:fragment="fragments/content :: content"></div>-->
<!--<div th:replace="fragments/footer :: footer"></div>-->

</body>
</html>