<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<div th:replace="fragments/header :: header"></div>
<body>
<div class="container" >
    <h1 style="text-align: center; margin: 5% 0 0 0">Dashboard</h1>
    <div class="row" style="padding:10% 0 10% 0">
        <div class="col-4" >
            <form id="trainerPage" th:action="@{/trainerPage}" method="post">
                <input type="submit" value="Trainers" style="margin: 0 40% 0 40%; font-size: x-large" class="btn"/>
            </form>
        </div>

        <div class="col-4" >
            <form id="traineePage" th:action="@{/traineePage}" method="post">
                <input type="submit" value="Trainees" style="margin: 0 40% 0 40%; font-size: x-large" class="btn"/>
            </form>
        </div>

        <div class="col-4" >
            <form id="coursePage" th:action="@{/coursePage}" method="post">
                <input type="submit" value="Courses" style="margin: 0 40% 0 40%; font-size: x-large" class="btn"/>
            </form>
        </div>
    </div>

<div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>