<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<div th:replace="fragments/header :: header"></div>
<body>

<h1>Home Page</h1>
<form id = "trainerPage" th:action="@{/trainerPage}" method="post">
    <input type="submit" value="Trainers" class="btn"/>
</form>

<form id = "traineePage" th:action="@{/traineePage}" method="post">
    <input type="submit" value="Trainees" class="btn"/>
</form>

<form id = "coursePage" th:action="@{/coursePage}" method="post">
    <input type="submit" value="Courses" class="btn"/>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>