<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<form id = "trainerPage" th:action="@{/trainerPage}" method="post">
    <input type="submit" value="Trainers" class="btn"/>
</form>

<form id = "traineePage" th:action="@{/traineePage}" method="post">
    <input type="submit" value="Trainees" class="btn"/>
</form>

<form id = "coursePage" th:action="@{/coursePage}" method="post">
    <input type="submit" value="Courses" class="btn"/>
</form>
</body>
</html>