<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"  xmlns:th="http://www.w3.org/1999/html">
    <title>Title</title>

</head>
<div th:replace="fragments/header :: header"></div>
<body>
<h1> Register a Trainer</h1>
<form th:action="@{/trainer/addTrainer}"  method="post">
<!--    th:object="${trainers}"-->
    <table>
        <tr>
            <td> First Name </td>
            <td> <input type="text" name="firstName"></td>
        </tr>
        <tr>
            <td> Surname </td>
            <td> <input type="text" name="lastName"></td>
        </tr>
        <tr>
            <td> Date Of Birth </td>
            <td> <input type="date" name="dateOfBirth" required pattern="\y{4}-\m{2}-\d{2}"></td>
        </tr>
        <tr>
            <td> Email </td>
            <td> <input type="email" name="email"></td>
        </tr>
        <tr>
            <td> Contact Number </td>
            <td> <input type="tel" name="contactNumber"></td>
        </tr>
        <tr>
            <td> Gender </td>
            <td>
                <select name="">
                    <option value="Male"> Male </option>
                    <option value="Female"> Female</option>
                    <option value="Other"> Other</option>
                </select>
            </td>
        </tr>
        <tr>
            <td> Start Date </td>
            <td> <input type="date" name="" required pattern="\y{4}-\m{2}-\d{2}"></td>
        </tr>
        <tr>
            <td> Specialization </td>
            <td>
                <select name="">
                    <option value=""> Java </option>
                </select>
            </td>
        </tr>
        <tr>
            <td> Employment type </td>
            <td>
                <select name="">
                    <option value=""> Full Time</option>
                    <option value=""> Part Time</option>
                </select>
            </td>
        </tr>
    </table>
        <input type="submit" value="Add Trainer">
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>