<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"  xmlns:th="http://www.w3.org/1999/html">
    <title>Title</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<h1> Register a Trainer</h1>
<th:form>

    <table>
        <tr>
            <td> First Name </td>
            <td> <input type="text" name=""></td>
        </tr>
        <tr>
            <td> Surname </td>
            <td> <input type="text" name=""></td>
        </tr>
        <tr>
            <td> Date Of Birth </td>
            <td> <input type="date" name=""></td>
        </tr>
        <tr>
            <td> Email </td>
            <td> <input type="email" name=""></td>
        </tr>
        <tr>
            <td> Contact Number </td>
            <td> <input type="tel" name=""></td>
        </tr>
        <tr>
            <td> Gender </td>
            <td>
                <select name="">
                    <<<<<<< HEAD
                    <option value="M"> Male </option>
                    <option value="F"> Female</option>
                    =======
                    <option value="Male"> Male </option>
                    <option value="Female"> Female</option>
                    <option value="Other"> Other</option>
                    >>>>>>> 4cae1ac87f993c03211b7f87ec8f74aaeaac0505
                </select>
            </td>
        </tr>
        <tr>
            <td> Start Date </td>
            <td> <input type="date" name=""></td>
        </tr>
        <tr>
            <td> Specialization </td>
            <td>
                <select name="">
                    <option value=""> Java </option>
                </select>
            </td>
        </tr>
        <tr>
            <td> Employment type </td>
            <td>
                <select name="">
                    <option value=""> Full Time</option>
                    <option value=""> Part Time</option>
                </select>
            </td>
        </tr>
    </table>
</th:form>

<div th:replace="fragments/footer :: footer"></div>


<!--This form below will be changed once bean is created, only keeping so i can change later-->
<form action="#" th:action="@{trainer/addTrainer}" method="post">
    <input type="submit" value="Add Trainer">
</form>

</body>
</html>