<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Classroom Page</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="backgroundImage">
<h1 style="text-align: center; margin-top: 5%; color: white">Register Attendance
    <output th:text="${group.groupName}"></output>
</h1>


<div class="container">
    <div class="row d-flex justify-content-center">

                <table class="table table-striped" border="0">

                    <tr>
                        <td style="text-align: center">
                            <span th:if="${date.isAfter(group.startDate)}">
                            <form th:action="@{'/attendance/registerAttendancePage/' + ${group.groupId} + '/' + ${date.minusDays(1)}}"
                                  method="get">
                                <input type="submit" value="< Previous Day" class="btn btn-custom"/>
                            </form>
                            </span>
                            <span th:unless="${date.isAfter(group.startDate)}">
                                <input type="submit" value="< Previous Day" class="btn btn-custom" style="background-color: darkgray"/>
                            </span>
                        </td>
                        <td style="text-align: center">
                            <h2><output th:text="${date.getDayOfWeek().name()}"></output> </h2>
                            <h2><output th:text="${date}"></output></h2>
                        </td>
                        <td style="text-align: center">
                            <span th:if="${date.isBefore(group.endDate)}">

                            <form th:action="@{'/attendance/registerAttendancePage/' + ${group.groupId} + '/' + ${date.plusDays(1)}}"
                                  method="get">
                                <input type="submit" value="Next Day >" class="btn btn-custom"/>
                            </form>
                            </span>
                            <span th:unless="${date.isBefore(group.endDate)}">
                                <input type="submit" value="Next Day >" class="btn btn-custom" style="background-color: darkgray"/>
                            </span>
                        </td>
                    </tr>
                </table>

<!--        <form th:action="@{'/attendance/saveAttendanceOnDay/' + ${group.groupId} + '/' + ${date}}">-->
                <table class="table table-striped" border="2">
                    <thead class="thead-custom" style="horiz-align: center">
                        <tr>
                            <td>
                                Trainee
                            </td>
                            <td>
                                Marked as
                            </td>
                            <td>
                                Mark as Present
                            </td>
                            <td>
                                Mark as Absent
                            </td>
                        </tr>
                    </thead>
                    <tbody class="tbody-custom" style="horiz-align: center">
                        <tr th:each="trainee:${trainees}">
                            <td>
                                <output th:text="${trainee.firstName + ' ' + trainee.lastName}"></output>
                            </td>

                                <span th:if="${trainee.getAttendanceOnDate(date)!=null}">
                                    <span th:if="${trainee.getAttendanceOnDate(date).isPresent}">
                                        <td style="background-color: green">
                                        <output>Present</output>
                                        </td>
                                    </span>
                                    <span th:unless="${trainee.getAttendanceOnDate(date).isPresent}" >
                                        <td style="background-color: red">
                                        <output>Absent</output>
                                        </td>
                                    </span>
                                </span>
                                <span th:unless="${trainee.getAttendanceOnDate(date)!=null}" >
                                    <td style="background-color: orange">
                                    <output th:text="${'-'}"></output>
                                    </td>
                                </span>
<!--                            </td>-->
                            <td>
                                <form  th:action="@{'/attendance/addAttendance/' + ${trainee.traineeId} + '/' + ${date} + '/'+${true} + '/' + ${group.groupId}}" method="get">
                                    <input type="submit" value="Present" class="btn btn-custom"/>

                                </form>
                            </td>
                            <td>
                                <form  th:action="@{'/attendance/addAttendance/' + ${trainee.traineeId} + '/' + ${date} + '/'+${false} + '/' + ${group.groupId}}" method="get">
                                    <input type="submit" value="Absent" class="btn btn-custom"/>

                                </form>

                            </td>

                        </tr>
                    </tbody>
                </table>

<!--        </form>-->


        <form th:action="@{'/attendance/viewAttendancePerGroup/fromRegister/' + ${group.groupId} + '/' + ${date}}" style="text-align: center; margin: 2% 0 2% 0">
            <input type="submit" value="Back to View" class="btn btn-custom" />
        </form>
    </div>


</div>
<!--<div th:replace="fragments/footer :: footer"></div>-->

</body>
</html>