<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
    <h1>Register Trainee</h1>

    <th:form>
        <table>

            <tr>
                <td>First Name</td>
                <td><input type="text" /> </td>
            </tr>

            <tr>
                <td>Surname</td>
                <td><input type="text" /> </td>

            </tr>

            <tr>
                <td>Date Of Birth</td>
                <td><input type="date" /> </td>
            </tr>

            <tr>
                <td>E-mail</td>
                <td><input type="text" /> </td>
            </tr>

            <tr>
                <td>Contact Number</td>
                <td><input type="text" /> </td>
            </tr>


            <tr>
                <td>Start Date</td>
                <td><input type="text" /> </td>
            </tr>

            <tr>
                <td>Gender</td>
                <td>
                    <select>
                        <option value="">Select Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </td>
            </tr>
        </table>

        <input type="submit" value="Submit" />
    </th:form>
    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>