<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sparta Academy Management System - Register a new course</title>
    <!-- Latest compiled and minified CSS -->
</head>

<div th:replace="fragments/header :: header"></div>

<body class="backgroundImage">

<h1 style="text-align: center; margin-top: 5%">Register a new course</h1>
<div class="container">
    <div class="row d-flex justify-content-center">
            <div class="card col-5" style="border: solid 2px black;">
                <div class="card-body">
            <th:form th:action="@{/course/addCourse}">
                <div class="form-row">
                    <div class="form-group col-4 ">
                        <label>First Name</label>
                        <input class="form-control" type="text" placeholder="First Name"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4 ">
                        <label>Course Description</label>
                        <input class="form-control" type="text" placeholder="Description"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4 ">
                        <label>Course Duration</label>
                        <input class="form-control" type="text" placeholder="Duration"/>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <input type="submit" value="Submit" class="btn btn-custom"/>
                </div>

<!--                STILL NEED TO ADD MODULES-->
            </th:form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
