<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trainee Page</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
    <h1>Welcome to the Trainee Page</h1>

    <form id = "viewTraineePage" th:action="@{/viewTraineePage}" method="post">
        <input type="submit" value="View Trainees" class="btn"/>
    </form>

    <form id = "registerTraineePage" th:action="@{/registerTraineePage}" method="post">
        <input type="submit" value="Register Trainee" class="btn"/>
    </form>
    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>