<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UpdateTrainerPage</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="backgroundImage">
<form th:action="@{'/trainer/editTrainer/' + ${trainer.trainerId}}" th:object="${trainer}" enctype="multipart/form-data">
    <div>
        Id: <input name="id" th:field="*{trainerId}"/>
    </div>
    <div>
        First name: <input name="firstName" th:field="*{firstName}"/>
    </div>
    <div>
        Last name: <input name="lastName" th:field="*{lastName}"/>
    </div>
    <div>
        <input type="submit" value="Save updates" name="button"/>
    </div>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>