<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Course Page</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="backgroundImage">
<div class="container">
<h1 style="text-align: center; margin: 2% 0 2% 0">Course's Information</h1>
<table class="table table-striped" border="2">
    <thead class="thead-custom">
    <tr>
        <td>Course ID</td>
        <td>Course Name</td>
        <td>Description</td>
        <td>Duration</td>
        <td>Modules</td>
    </tr>
    </thead>
    <tbody class="tbody-custom">
    <tr th:each="course : ${courses}">
        <td th:text="${course.courseId}">Course ID</td>
        <td th:text="${course.courseName}">Course Name</td>
        <td th:text="${course.courseDescription}">Description</td>
        <td th:text="${course.durationInWeeks}">Duration</td>

        <td><form id="View Modules" th:action="@{'/course/viewModules/' + ${course.courseId}}" method="get">
            <input type="submit" value="View Modules" />
        </form> </td>
        <td><form th:action="@{'/course/getCourse/' + ${course.courseId}}"><input type="submit" value="Update" class="btn btn-success"></form></td>
        <td><form th:action="@{'/course/removeCourse/' + ${course.courseId}}"> <input type="submit" value="Delete" class="btn btn-danger"></form></td>
    </tr>
    </tbody>
</table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>