<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Classroom Page</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="backgroundImage">
<div class="container">
    <h1 style="text-align: center; margin: 2% 0 2% 0">Classroom's Information</h1>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <form th:action="@{'/classroom/getClassrooms/search'}" method="get">
                <table>
                    <tr>
                        <td>
                            <label>Search: </label>
                        </td>
                        <td></td>
                    </tr>
                    <td><input class="form-control" type="text" name="searchQuery" th:value="${searchQuery}"
                               placeholder="Search Query"/></td>
                    <td><input type="submit" value="Search" class="btn btn-custom"/></td>
                </table>
            </form>
        </div>
    </div>

    <table class="table table-striped" border="2">
        <thead class="thead-custom">
        <tr>
            <td>Classroom ID</td>
            <td>Classroom name</td>
            <td>Capacity</td>
        </tr>
        </thead>
        <tbody class="tbody-custom">
        <tr th:each="classroom : ${classrooms}">
            <td th:text="${classroom.classroomId}">Classroom ID</td>
            <td th:text="${classroom.classroomName}">Classroom Name</td>
            <td th:text="${classroom.capacity}">Capacity</td>
            <td>
                <form th:action="@{/classroom/getClassroom/{id}(id=${classroom.classroomId})}"><input type="submit"
                                                                                                      value="Update"
                                                                                                      class="btn btn-success">
                </form>
            </td>
            <td>
                <form th:action="@{/classroom/removeClassroom/{id}(id=${classroom.classroomId})}"><input type="submit"
                                                                                                         value="Delete"
                                                                                                         class="btn btn-danger">
                </form>
            </td>
        </tr>
        <tbody class="tbody-custom">
    </table>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>