<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trainee Page</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<h1>Trainee's Information</h1></br>

<table border="2">
    <tr>
        <td>First Name</td>
        <td>Surname</td>
        <td>Email</td>
        <td>Contact Number</td>
        <td>Date Of Birth</td>
        <td>Gender</td>
        <td>Start Date</td>
    </tr>

    <tr th:each="trainee : ${@traineeController.trainees}">
        <td th:text="${trainee.getTraineeId()}">Trainee ID</td>
        <td th:text="${trainee.getFirstName()}">First Name</td>
        <td th:text="${trainee.getLastName()}">Surname</td>
        <td th:text="${trainee.getEmail()}">Email</td>
        <td th:text="${trainee.getContactNumber()}">Contact Number</td>
        <td th:text="${trainee.getDateOfBirth()}">Date Of Birth</td>
        <td th:text="${trainee.getGender()}">Gender</td>
        <td th:text="${trainee.getStartDate()}">Start Date</td>
    </tr>
</table>

</body>
</html>