<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Module Page</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="backgroundImage">
<div class="container">
    <h1 style="text-align: center; margin: 2% 0 2% 0">Module's Information</h1>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <form th:action="@{'/module/getModules/search'}" method="get">
                <table>
                    <tr>
                        <td>
                            <label>Search: </label>
                        </td>
                        <td></td>
                    </tr>
                    <td><input class="form-control" type="text" name="searchQuery" th:value="${searchQuery}"
                               placeholder="Search Query"/></td>
                    <td><input type="submit" value="Search" class="btn btn-custom"/></td>
                </table>
            </form>
        </div>
    </div>
    <table class="table table-striped" border="2">
        <thead class="thead-custom">
        <tr>
            <td>Module Id</td>
            <td>Module name</td>
            <td>Description</td>

        </tr>
        </thead>
        <tbody class="tbody-custom">
        <tr th:each="module : ${modules}">
            <td th:text="${module.moduleId}">Module Id</td>
            <td th:text="${module.moduleName}">Name</td>
            <td th:text="${module.moduleDescription}">Description</td>

            <!--        get list of qualified trainers will go here-->
            <td>
                <form id="View Trainers" th:action="@{'/module/viewTrainers/' + ${module.moduleId}}" method="get">
                    <input type="submit" value="View Qualified Trainers"/>
                </form>
            </td>
            <td>
                <form th:action="@{'/module/getModule/' + ${module.moduleId}}"><input type="submit" value="Update"
                                                                                      class="btn btn-success"></form>
            </td>
            <td>
                <form th:action="@{'/module/removeModule/' + ${module.moduleId}}"><input type="submit" value="Delete"
                                                                                         class="btn btn-danger"></form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>