<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"  xmlns:th="http://www.w3.org/1999/html">
    <title>ViewScheduledClassroomForm</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="backgroundImage">

<h1 style="text-align: center; margin-top: 5%"> Schedule a group</h1>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card col-5" style="border: solid 2px black; background-color: darkgray">
            <div class="card-body" style="color: black">
                <form th:action="@{/schedule/addTimeslot}" method="post">


                    <div class="form-row">
                        <div class="form-group col-6 ">
                            <label>Group Name:</label>
<!--                            <input class="form-control" type="text" name="groupName" placeholder="Group Name"/>-->
                            <select name="groupName" class="custom-select">
                                <option selected>Select Classroom</option>
                                <option th:each="group : ${T(com.sparta.e44.entities.TeachingGroupEntity).values()}"
                                        th:value="${group.groupId}"
                                        th:text="${group.groupName}">
                                </option>
                            </select>
                        </div>


                        <div class="form-group col-6">
                            <label>Start Date:</label>
                            <input class="form-control" type="date" name="startDate" placeholder="Start Date"/>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>End Date:</label>
                            <input class="form-control" type="date" name="endDate" placeholder="End Date"/>
                        </div>

                        <div class="form-group col-6">
                            <label>Classroom:</label>
                                <select name="classroomName" class="custom-select">
                                    <option selected>Select Classroom</option>
                                    <option th:each="classroom : ${T(com.sparta.e44.entities.state.Classrooms).values()}"
                                            th:value="${classroom}"
                                            th:text="${classroom.value}">
                                    </option>
                                </select>
                        </div>
                    </div>
                    <div class="form-row d-flex justify-content-center">
                        <input type="submit" value="Add to Calendar" class="btn btn-custom"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>