<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Course Page</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="backgroundImage">
<h1>All courses</h1>
<br>
<table class="table" border="2">

    <tr>
        <td>Course ID</td>
        <td>Course Name</td>
        <td>Description</td>
        <td>Duration</td>
        <td>Modules</td>
    </tr>

    <tr th:each="course : ${courses}">
        <td th:text="${course.courseId}">Course ID</td>
        <td th:text="${course.courseName}">Course Name</td>
        <td th:text="${course.courseDescription}">Description</td>
        <td th:text="${course.durationInWeeks}">Duration</td>

        <td><form id="View Modules" th:action="@{'/course/viewModules/' + ${course.courseId}}" method="get">
            <input type="submit" value="View Modules" />
        </form> </td>
        <td><form th:action="@{'/course/getCourse/' + ${course.courseId}}"><input type="submit" value="Update"></form>
            <form th:action="@{'/course/removeCourse/' + ${course.courseId}}"> <input type="submit" value="Delete"></form></td>
    </tr>
</table>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>