<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViewTrainerPage</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="backgroundImage">
<h1 style="text-align: center; margin: 2% 0 2% 0">Trainers</h1>

<table class="table table-striped" border="2">
    <thead>
    <tr>
        <td >First Name</td>
        <td>Surname</td>
        <td>Email</td>
        <td>Contact Number</td>
        <td>Date Of Birth</td>
        <td>Gender</td>
        <td>Start Date</td>
        <td>Specialization</td>
<!--        <td>Employment Type</td>-->
    </tr>
    </thead>
<tbody>
    <tr th:each="trainer : ${trainers}">
        <td th:text="${trainer.id}">Trainee ID</td>
        <td th:text="${trainer.firstName}">First Name</td>
        <td th:text="${trainer.lastName}">Surname</td>
        <td th:text="${trainer.email}">Email</td>
        <td th:text="${trainer.contactNumber}">Contact Number</td>
        <td th:text="${trainer.dateOfBirth}">Date Of Birth</td>
        <td th:text="${trainer.gender}">Gender</td>
        <td th:text="${trainer.startDate}">Start Date</td>
        <td th:text="${trainer.qualifiedModules}">Specialization</td>
<!--        <td th:text="${trainer.employmentType}">Employment type</td>-->
    </tr>
</tbody>
    </table>

</body>
</html>