<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Course Page</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="backgroundImage">
<div class="container">
    <h1 style="text-align: center; margin: 2% 0 2% 0">Group Information</h1>
    <table class="table table-striped" border="2">
        <thead class="thead-custom">
        <tr>
            <td>Group Name</td>
            <td>Start Date</td>
            <td>End Date</td>
        </tr>
        </thead>
        <tbody class="tbody-custom">
        <tr th:each="teachingGroup : ${teachingGroups}">
            <td th:text="${teachingGroup.groupName}">Group Name</td>
            <td th:text="${teachingGroup.startDate}">Start Date</td>
            <td th:text="${teachingGroup.endDate}">End Date</td>


            <td><form id="View Groups" th:action="@{'/teachingGroup/viewTeachingGroupsPage/' + ${teachingGroup.groupId}}" method="get">
                <input type="submit" value="View Groups" /> 
            </form> </td>
            <td><form th:action="@{'/teachingGroup/getTeachingGroup/' + ${teachingGroup.groupId}}"><input type="submit" value="View" class="btn btn-success"></form></td>
            <td><form th:action="@{'/teachingGroup/removeTeachingGroup/' + ${teachingGroup.groupId}}"> <input type="submit" value="Delete" class="btn btn-danger"></form></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>