<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Title </title>
</head>
<div th:replace="fragments/header :: header"></div>
<body>

<h1> View Trainer Page </h1>

<table border="2">
    <tr>
        <td>First Name</td>
        <td>Surname</td>
        <td>Email</td>
        <td>Contact Number</td>
        <td>Date Of Birth</td>
        <td>Gender</td>
        <td>Start Date</td>
        <td>Specialization</td>
        <td>Employment Type</td>
    </tr>

    <tr th:each="trainer : ${@trainerController.trainers}">
        <td th:text="${trainer.getTrainerId()}">Trainee ID</td>
        <td th:text="${trainer.getFirstName()}">First Name</td>
        <td th:text="${trainer.getLastName()}">Surname</td>
        <td th:text="${trainer.getEmail()}">Email</td>
        <td th:text="${trainer.getContactNumber()}">Contact Number</td>
        <td th:text="${trainer.getDateOfBirth()}">Date Of Birth</td>
        <td th:text="${trainer.getGender()}">Gender</td>
        <td th:text="${trainer.getStartDate()}">Start Date</td>
        <td th:text="${trainer.getSpecialization()}">Specialization</td>
        <td th:text="${trainer.getEmploymentType()}">Employment type</td>
    </tr>
    </table>

</body>
</html>