<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Classroom Page</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="backgroundImage">
<h1>All classroom</h1>
<br>
<table class="table" border="2">
    <tr>
        <td>Classroom ID</td>
        <td>Classroom name</td>
        <td>Capacity</td>
        <td>Actions</td>
    </tr>
    <tr th:each="classroom : ${classrooms}">
        <td th:text="${classroom.classroomId}">Classroom ID</td>
        <td th:text="${classroom.classroomName}">Classroom Name</td>
        <td th:text="${classroom.capacity}">Capacity</td>
        <td>
            <form th:action="@{/classroom/getClassroom/{id}(id=${classroom.classroomId})}"><input type="submit"
                                                                                                  value="Update">
            </form>
            <form th:action="@{/classroom/removeClassroom/{id}(id=${classroom.classroomId})}"><input type="submit"
                                                                                                     value="Delete">
            </form>
        </td>
    </tr>
</table>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>