<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Trainee Page</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="backgroundImage">
<h1>Trainee's Information</h1></br>

<table class="table" border="2">

    <tr>
        <td>Trainee ID</td>
        <td>First Name</td>
        <td>Surname</td>
        <td>Email</td>
        <td>Contact Number</td>
        <td>Date Of Birth</td>
        <td>Gender</td>
        <td>Start Date</td>
        <td>Delete</td>
    </tr>
    <tr th:each="trainee : ${trainees}">
        <td th:text="${trainee.traineeId}">Trainee ID</td>
        <td th:text="${trainee.firstName}">First Name</td>
        <td th:text="${trainee.lastName}">Surname</td>
        <td th:text="${trainee.email}">Email</td>
        <td th:text="${trainee.contactNumber}">Contact Number</td>
        <td th:text="${trainee.dateOfBirth}">Date Of Birth</td>
        <td th:text="${trainee.gender}">Gender</td>
        <td th:text="${trainee.startDate}">Start Date</td>
        <td><form th:action="@{'/trainee/getTrainee/' + ${trainee.traineeId}}"><input type="submit" value="Update"></form>
            <form th:action="@{'/trainee/removeTrainee/' + ${trainee.traineeId}}"> <input type="submit" value="Delete"></form></td>
    </tr>

</table>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>